
<ion-view view-title="搞笑">
  <ion-content>
    <ion-refresher
      pulling-text="下拉刷新..."
      pulling-icon="ion-loading-c"
      refreshing-text="刷新成功"
      refreshing-icon="ion-loading-c"
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list card funny-bj" ng-repeat="f in funny" on-hold="copyText('{{f.content}}')">
      <div class="item item-text-wrap funny-bj">
       <h3 style="color: initial"> {{ f.content }}</h3>
        <p style="float: right"> {{f.createDate | date: 'yyyy-MM-dd HH:mm'}}</p>
      </div>
    </div>

   <!--<ion-list >-->
     <!--<ion-item class="item-gaoxiao" ng-repeat="f in funny" on-hold="copyText('{{f.content}}')">-->
       <!--<p>-->
         <!--{{ f.content }}-->
       <!--</p>-->
       <!--<p style="float: right"> {{f.createDate | date: 'yyyy-MM-dd HH:mm'}}</p>-->
     <!--</ion-item>-->
   <!--</ion-list>-->

    <ion-infinite-scroll
      icon="ion-loading-c"
      ng-if="!last"
      on-infinite="loadMoreData()"
      distance="10%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
