<ion-view view-title="水花一现">
  <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" active-slide="currentIndex">
    <ion-slide ng-repeat="ty in type">
      <ion-content>
        <ion-refresher pulling-text="下拉刷新..." refreshing-text="刷新成功" on-refresh="ty.doRefresh()"></ion-refresher>

        <!--<div class="list has-header">-->
          <!--<a ng-repeat="new in ty.newsList" class="item item-thumbnail-right item-text-wrap" href="#">-->
            <!--<img ng-src="{{new.sources.sourceImage}}" width="30" height="30" alt="">-->
            <!--{{new.title}}-->
          <!--</a>-->
        <!--</div>-->

        <ion-list class="newsList">
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="new in ty.newsList" type="item-text-wrap"
                    ng-click="openBrowser('{{new.id}}',{{new.explicitLink}},'{{new.link}}')">
            <img ng-src="{{new.sources.sourceImage}}"/>
            <h2>{{ new.title | limitTo: 60 }}{{new.title.length > 60 ? '...' : ''}}</h2>
            <p>{{new.createDate | date: 'yyyy-MM-dd HH:mm'}}</p>
          </ion-item>
        </ion-list>

        <ion-infinite-scroll  ng-if="!(ty.last)" on-infinite="ty.loadMoreData()" distance="1%"></ion-infinite-scroll>
      </ion-content>
    </ion-slide>
  </ion-slide-box>

  <ion-tabs class="tabs-striped tabs-top">
    <ion-tab ng-repeat="ty in type" on-select="selectedTab($index)" title="{{ty.name}}"></ion-tab>
  </ion-tabs>
</ion-view>
