
<ion-view view-title="关于水花一现">
  <ion-content class="padding">
    <div>
      <h3>关于作者</h3>
      <h5>此APP是我业余时间开发,经过很长一段时间的摸索和纠错才得以完成,因为此APP使用技术以前我也没有接触过,
        完全是从新开始,这个APP的完成也是对我这段时间的努力的鼓舞.如果想要了解这个APP,欢迎联系我.</h5>
      <br>
      <h3>联系作者</h3>
      <h5>博客: <a href="http://www.shuihua.me" target="_blank">http://www.shuihua.me</a></h5>
      <h5>微信公众号: <a href="#">shuihuayixina</a></h5>
      <h5>邮箱: <a href="#">shangjing105@163.com</a></h5>
      <h5>Github: <a href="https://github.com/shangjing105">https://github.com/shangjing105</a></h5>
      <h5>QQ: <a href="#">787019494</a></h5>
    </div>

  </ion-content>
</ion-view>
