<ion-header-bar class="bar-calm">
  <h1 class="title">水花一现</h1>
</ion-header-bar>

<ion-view>
  <ion-content>
    <ion-refresher
      pulling-text="下拉刷新..."
      pulling-icon="ion-loading-c"
      refreshing-text="刷新成功"
      refreshing-icon="ion-loading-c"
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="new in news" type="item-text-wrap"
                ng-click="openBrowser('{{new.id}}',{{new.explicitLink}},'{{new.link}}')">
          <img ng-src="{{new.sources.sourceImage}}"/>
          <!--<span style="float: left;font-size: 5px">今日头条</span>-->
          <h2>{{ new.title | limitTo: 60 }}{{new.title.length > 60 ? '...' : ''}}</h2>
          <!--<div><h3>{{ new.info}}</h3></div>-->
          <p>by {{new.author}} | {{new.createDate | date: 'yyyy-MM-dd HH:mm'}}</p>
        <!--  <i class="icon icon-dianzan" style="height:50px; padding-top: 10px"></i>
          <i class="icon" style="padding-top: 50px;font-size: 20px;width: 32px;color: #387ef5;">12</i>-->
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      icon="ion-loading-c"
      ng-if="!last"
      on-infinite="loadMoreData()"
      distance="10%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
