<ion-view view-title="缘分">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        功能
      </div>
      <a class="item item-icon-left" ng-click="barcodeScannerText()" ng-controller="fateCtrl">
        <i class="icon icon-saoyisao"></i>
        扫一扫
      </a>

      <div class="item item-divider">
        更多
      </div>
      <a class="item item-icon-left" href="#/tab/fateAbout">
        <i class="icon icon-tubiaolunkuohua23"></i>
        关于APP
      </a>
      <a class="item item-icon-left" ng-click="openBrowserShui('http://www.shuihua.me/')" ng-controller="fateCtrl">
        <i class="icon icon-wodeboke"></i>
        我的博客
      </a>
      <a class="item item-icon-left" ng-click="shareApp()" ng-controller="fateCtrl">
        <i class="icon icon-fenxiang"></i>
        分享APP
      </a>
      <a class="item item-icon-left" href="#/tab/fateContact">
        <i class="icon icon-iconfontyonghu"></i>
        联系作者
      </a>


    </div>

  </ion-content>
</ion-view>
