<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="精选" icon-off="icon-news" icon-on="icon-news" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="美图" icon-off="icon-beautiful" icon-on="icon-beautiful" href="#/tab/beautiful">
    <ion-nav-view name="tab-beautiful"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="搞笑" icon-off="icon-funny" icon-on="icon-funny" href="#/tab/funny">
    <ion-nav-view name="tab-funny"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="缘分" icon-off="icon-fate" icon-on="icon-fate" href="#/tab/fate">
    <ion-nav-view name="tab-fate"></ion-nav-view>
  </ion-tab>


</ion-tabs>
