
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1479115546657'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1479115546657#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1479115546657') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1479115546657') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1479115546657#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.icon-fenxiang:before { content: "\e600"; }

.icon-houtui:before { content: "\e602"; }

.icon-saoyisao:before { content: "\e631"; }

.icon-gengduo:before { content: "\e601"; }

.icon-iconfontyonghu:before { content: "\e630"; }

.icon-wodeboke:before { content: "\e63d"; }

.icon-news:before { content: "\e606"; line-height: 32px;}

.icon-thumbUp:before { content: "\e604"; }

.icon-iconfontqianjin3:before { content: "\e603"; }

.icon-fenxiangapp:before { content: "\e642"; }

.icon-fate:before { content: "\e607"; line-height: 32px;}

.icon-tubiaolunkuohua23:before { content: "\e682"; }

.icon-funny:before { content: "\e608"; line-height: 32px;}

.icon-cuowu:before { content: "\e605"; }

.icon-beautiful:before { content: "\e609"; line-height: 32px;}
